Package: com.jaysan1292.fluxtoggle
Name: F.lux SBSettings Toggle
Depends: sbsettings, org.herf.flux, grep, adv-cmds
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SBSetting toggle!
Maintainer: Jason Recillo
Author: Jason Recillo
Section: Addons (SBSettings)
